<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mushroom Project</title>
</head>
<body>
    <h1>Fill the details with your Mushroom</h1>
    <hr>
      <form action="result">
        <label for="cap-shape">cap-shape:</label>
        <select id="cap-shape" name="cap-shape" required>
          <option value="bell">bell</option>
          <option value="conical">conical</option>
          <option value="convex">convex</option>
          <option value="flat">flat</option>
          <option value="knobbed">knobbed</option>
          <option value="sunken">sunken</option>
      </select><br>

        <label for="cap-surface">cap-surface:</label>
        <select id="cap-surface" name="cap-surface" required>
          <option value="fibrous">fibrous</option>
          <option value="grooves">grooves</option>
          <option value="scaly">scaly</option>
          <option value="smooth">smooth</option>
      </select><br>


        <label for="cap-color">cap-color:</label>
        <select id="cap-color" name="cap-color" required>
          <option value="brown">brown</option>
          <option value="cinnamon">cinnamon</option>
          <option value="gray">gray</option>
          <option value="green">green</option>
          <option value="pink">pink</option>
          <option value="purple">purple</option>
          <option value="red">red</option>
          <option value="white">white</option>
          <option value="yellow">yellow</option>
      </select><br>

        
        <label for="bruises">bruises:</label>
        <select id="bruises" name="bruises" required>
            <option value="bruises">bruises</option>
            <option value="no">no</option>
      </select><br>
      <label for="gill-attachment">gill-attachment:</label>
      <select id="gill-attachment" name="gill-attachment" required>
          <option value="attached">attached</option>
          <option value="descending">descending</option>
          <option value="free">free</option>
          <option value="notched">notched</option>
      </select><br>
      
      <label for="gill-spacing">gill-spacing:</label>
      <select id="gill-spacing" name="gill-spacing" required>
          <option value="close">close</option>
          <option value="crowded">crowded</option>
          <option value="distant">distant</option>
      </select><br>
      
      <label for="gill-size">gill-size:</label>
      <select id="gill-size" name="gill-size" required>
          <option value="broad">broad</option>
          <option value="narrow">narrow</option>
      </select><br>
      
      <label for="gill-color">gill-color:</label>
      <select id="gill-color" name="gill-color" required>
          <option value="black">black</option>
          <option value="brown">brown</option>
          <option value="buff">buff</option>
          <option value="chocolate">chocolate</option>
          <option value="gray">gray</option>
          <option value="green">green</option>
          <option value="orange">orange</option>
          <option value="pink">pink</option>
          <option value="purple">purple</option>
          <option value="red">red</option>
          <option value="white">white</option>
          <option value="yellow">yellow</option>
      </select><br>
      <label for="stalk-shape">stalk-shape:</label>
      <select id="stalk-shape" name="stalk-shape" required>
          <option value="enlarging">enlarging</option>
          <option value="tapering">tapering</option>
      </select><br>
      
      <label for="stalk-root">stalk-root:</label>
      <select id="stalk-root" name="stalk-root" required>
          <option value="bulbous">bulbous</option>
          <option value="club">club</option>
          <option value="cup">cup</option>
          <option value="equal">equal</option>
          <option value="rhizomorphs">rhizomorphs</option>
          <option value="rooted">rooted</option>
          <option value="missing">missing</option>
      </select><br>
      
      <label for="stalk-surface-above-ring">stalk-surface-above-ring:</label>
      <select id="stalk-surface-above-ring" name="stalk-surface-above-ring" required>
          <option value="fibrous">fibrous</option>
          <option value="scaly">scaly</option>
          <option value="silky">silky</option>
          <option value="smooth">smooth</option>
      </select><br>
      
      <label for="stalk-surface-below-ring">stalk-surface-below-ring:</label>
      <select id="stalk-surface-below-ring" name="stalk-surface-below-ring" required>
          <option value="fibrous">fibrous</option>
          <option value="scaly">scaly</option>
          <option value="silky">silky</option>
          <option value="smooth">smooth</option>
      </select><br>
            
      <label for="stalk-color-above-ring">stalk-color-above-ring:</label>
      <select id="stalk-color-above-ring" name="stalk-color-above-ring" required>
          <option value="brown">brown</option>
          <option value="buff">buff</option>
          <option value="cinnamon">cinnamon</option>
          <option value="gray">gray</option>
          <option value="orange">orange</option>
          <option value="pink">pink</option>
          <option value="red">red</option>
          <option value="white">white</option>
          <option value="yellow">yellow</option>
      </select><br>
      
      <label for="stalk-color-below-ring">stalk-color-below-ring:</label>
      <select id="stalk-color-below-ring" name="stalk-color-below-ring" required>
          <option value="brown">brown</option>
          <option value="buff">buff</option>
          <option value="cinnamon">cinnamon</option>
          <option value="gray">gray</option>
          <option value="orange">orange</option>
          <option value="pink">pink</option>
          <option value="red">red</option>
          <option value="white">white</option>
          <option value="yellow">yellow</option>
      </select><br>
      
      <label for="veil-type">veil-type:</label>
      <select id="veil-type" name="veil-type" required>
          <option value="partial">partial</option>
          <option value="universal">universal</option>
      </select><br>
      
      <label for="veil-color">veil-color:</label>
      <select id="veil-color" name="veil-color" required>
          <option value="brown">brown</option>
          <option value="orange">orange</option>
          <option value="white">white</option>
          <option value="yellow">yellow</option>
      </select><br>
      
      <label for="ring-number">ring-number:</label>
      <select id="ring-number" name="ring-number" required>
          <option value="none">none</option>
          <option value="one">one</option>
          <option value="two">two</option>
      </select><br>
      
      <label for="ring-type">ring-type:</label>
      <select id="ring-type" name="ring-type" required>
          <option value="cobwebby">cobwebby</option>
          <option value="evanescent">evanescent</option>
          <option value="flaring">flaring</option>
          <option value="large">large</option>
          <option value="none">none</option>
          <option value="pendant">pendant</option>
          <option value="sheathing">sheathing</option>
          <option value="zone">zone</option>
      </select><br>
      
      <label for="spore-print-color">spore-print-color:</label>
      <select id="spore-print-color" name="spore-print-color" required>
          <option value="black">black</option>
          <option value="brown">brown</option>
          <option value="buff">buff</option>
          <option value="chocolate">chocolate</option>
          <option value="green">green</option>
          <option value="orange">orange</option>
          <option value="purple">purple</option>
          <option value="white">white</option>
          <option value="yellow">yellow</option>
      </select><br>
      
      <label for="population">population:</label>
      <select id="population" name="population" required>
          <option value="abundant">abundant</option>
          <option value="clustered">clustered</option>
          <option value="numerous">numerous</option>
          <option value="scattered">scattered</option>
          <option value="several">several</option>
          <option value="solitary">solitary</option>
      </select><br>
      
      <label for="habitat">habitat:</label>
      <select id="habitat" name="habitat" required>
          <option value="grasses">grasses</option>
          <option value="leaves">leaves</option>
          <option value="meadows">meadows</option>
          <option value="paths">paths</option>
          <option value="urban">urban</option>
          <option value="waste">waste</option>
          <option value="woods">woods</option>
      </select><br>
      
        <input type="submit">

      </form>
</body>
</html>



<!-- mushroom_info = {
  'cap-shape': ['bell', 'conical', 'convex', 'flat', 'knobbed', 'sunken'],
  'cap-surface': ['fibrous', 'grooves', 'scaly', 'smooth'],
  'cap-color': ['brown', 'buff', 'cinnamon', 'gray', 'green', 'pink', 'purple', 'red', 'white', 'yellow'],
  'bruises': ['bruises', 'no'],
  'odor': ['almond', 'anise', 'creosote', 'fishy', 'foul', 'musty', 'none', 'pungent', 'spicy'],
  'gill-attachment': ['attached', 'descending', 'free', 'notched'],
  'gill-spacing': ['close', 'crowded', 'distant'],
  'gill-size': ['broad', 'narrow'],
  'gill-color': ['black', 'brown', 'buff', 'chocolate', 'gray', 'green', 'orange', 'pink', 'purple', 'red', 'white', 'yellow'],
  'stalk-shape': ['enlarging', 'tapering'],
  'stalk-root': ['bulbous', 'club', 'cup', 'equal', 'rhizomorphs', 'rooted', 'missing'],
  'stalk-surface-above-ring': ['fibrous', 'scaly', 'silky', 'smooth'],
  'stalk-surface-below-ring': ['fibrous', 'scaly', 'silky', 'smooth'],
  'stalk-color-above-ring': ['brown', 'buff', 'cinnamon', 'gray', 'orange', 'pink', 'red', 'white', 'yellow'],
  'stalk-color-below-ring': ['brown', 'buff', 'cinnamon', 'gray', 'orange', 'pink', 'red', 'white', 'yellow'],
  'veil-type': ['partial', 'universal'],
  'veil-color': ['brown', 'orange', 'white', 'yellow'],
  'ring-number': ['none', 'one', 'two'],
  'ring-type': ['cobwebby', 'evanescent', 'flaring', 'large', 'none', 'pendant', 'sheathing', 'zone'],
  'spore-print-color': ['black', 'brown', 'buff', 'chocolate', 'green', 'orange', 'purple', 'white', 'yellow'],
  'population': ['abundant', 'clustered', 'numerous', 'scattered', 'several', 'solitary'],
  'habitat': ['grasses', 'leaves', 'meadows', 'paths', 'urban', 'waste', 'woods'],
} -->
